@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.owl-item {
    margin-right: 10px;
    width: 100%;
}
.item{
    width: 84%;
    margin-right: auto;
    margin-left: auto;
}
/** to hide dots

.owl-theme .owl-dots .owl-dot{ display:none!important;}

**/
#topbar{
    width: 100%;
    box-shadow: 0 2px 5px #ccc;
    background-color: white;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 16px 8%;
}
#left-menu{
    display: inline-flex;
    justify-content: start;
    align-items: center;
}
#logo{
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 16px;
}
#logo > a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
#logo span {
    font-weight: 800;
}
#left-menu > a{
    text-decoration: none;
    color: black;
    margin-left: 32px;
    text-transform: uppercase;
    font-weight: 600;
}
#search-wrapper{
    width: 100%;
    max-width: 400px;
    position: relative;
}
#search-wrapper > i{
    position: absolute;
    color: #999;
    font-size: 18px;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
}
#search-box{
    width: 100%;
    border: 1px solid rgb(245, 242, 242);
    background-color: rgb(245, 242, 242);
    box-sizing: border-box;
    padding: 10px 24px 8px 48px;
    color: black;
    outline: none;
}
#right-menu{
    display: inline-flex;
    justify-content: end;
    align-items: center;
}
#cart-wrapper{
    position: relative;
    margin-right: 32px;
}
#cart-count{
    width: 18px;
    height: 18px;
    font-size: 12px;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    background-color: #009688;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    right: -12px;
}
#cart-wrapper > a{
    text-decoration: none;
    color: black;
}
#cart-wrapper i{
    font-size: 18px;
    cursor: pointer;
}
#right-menu > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
main{
    width: 100%;
    min-height: 80vh;
    box-sizing: border-box;
    margin-top: 100px;
    padding-bottom: 8%;
}
.homepage-section{
    padding: 4% 8% 0;
}
.section-heading{
    font-size: 28px;
    font-weight: 600;
    opacity: 0.8;
}
.product-gird{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.product-card{
    width: 100%;
    max-width: 19%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 16px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 5px;
}
.product-image1{
    width: 100%;
}
.product-meta{
    box-sizing: border-box;
    padding: 16px;
}
.product-meta > h4{
    font-weight: 600;
    margin: 0;
    font-size: 16px;
}
.product-meta > h5{
    font-weight: 600;
    opacity: 0.8;
    margin: 0;
    margin-top: 12px;
}
.product-meta > p{
    margin: 0;
    margin-top: 12px;
    font-weight: 600;
    color: #009688;
}
#edyoda-project-logo{
    width: 128px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}
footer{
    width: 100%;
    background-color: #1c1b1e;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 4% 8%;
    flex-wrap: wrap;
}
footer > div:first-of-type{
    padding-left: 0;
}
footer > div{
    padding-left: 60px;
    padding-right: 60px;
}
#footer-heading{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: white;
    opacity: 0.9;
    letter-spacing: 1px;
}
.footer-link{
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.8;
}
#product-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2% 8%;
    box-sizing: border-box;
}
#product-image{
    width: 40%;
    padding-right: 8%;
    box-sizing: border-box;
    align-self: flex-start;
}
#product-preview{
    width: 100%;
    box-sizing: border-box;
}
#product-details{
    align-self: flex-start;
    width: 60%;
    box-sizing: border-box;
    z-index: 5;
}
#product-title{
    font-size: 48px;
    font-weight: 400;
    margin: 0;
}
#product-brand{    
    font-weight: 600;
    color: black;
    opacity: 0.6;
    margin: 0;
    margin-top: 8px;
}
.section-heading1{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 36px;
    font-weight: 400;
}
.section-heading2{
    margin-bottom: 16px;
}
#product-price{
    max-width: 500px;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 500;
    color: #009688;
    margin: 0;
    display: inline-block;
}
#description{
    max-width: 500px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}
#product-images {
    display: flex;
}
#product-images > img:first-of-type {
    margin-left: 0;
}

#product-images > img {
    width: 50px;
    /* border-radius: 6px; */
    margin: 0 8px;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px;
    /* border: 2px solid gray; */
}
.active-image{
    box-sizing: content-box;
    border: 2px solid #009688;
}
#btn-add-to-cart{
    background-color: #009688;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 18px 36px;
    border-radius: 6px;
    margin-top: 36px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    color: white;
    transition: transform 200ms;
}
#btn-add-to-cart:hover{
    box-shadow: 2px 2px 10px black;
}


#checkout-page{
    width: 100%;
    min-height: 80vh;
    box-sizing: border-box;
    margin-top: 100px;
    padding-bottom: 8%;
}
#main-section{
    padding: 2% 8%;
    box-sizing: border-box;
}
#main-heading{
    font-size: 36px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 48px;
}
#content-wrapper{
    display: flex;
    justify-content: start;
}
#content-wrapper > div:first-of-type {
    width: 50%;
}
.total-items{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    margin: 0;
    margin-bottom: 16px;
}
.checkout-product-image {
    width: 80px;
    min-width: 80px;
    border-radius: 5px;
    margin-right: 16px;
}
#content-wrapper > div:last-of-type {
    width: 50%;
    height: fit-content;
    margin-top: 48px;
    margin-left: 3%;
    box-sizing: border-box;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 5px;
    padding: 16px;
}
#total-amount{
    color: black;
    opacity: 0.8;
    font-size: 24px;
    font-weight: 800;
    margin-left: 4px;
}
#btn-place-order{
    background-color: #009688;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 18px 36px;
    border-radius: 6px;
    margin-top: 36px;
    font-weight: 600;
    color: white;
}
#checkout-card{
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 5px;
    background-color: white;
    max-width: 600px;
    padding: 16px;
    margin-bottom: 16px;
}
#checkout-card h4{
    font-weight: 500;
    margin: 0;
    margin-bottom: 4px;
    font-size: 18px;
}
#checkout-card p {
    margin: 0;
    margin-top: 4px;
    margin-bottom: 4px;
}
#order-placed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 100px;
}
.check{
    font-size: 140px;
    color: rgb(20, 213, 20);
}
.success{
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 0px;
    display: block;
}
.message{
    margin-top: 20px;
    font-size: 20px;
}


@media (max-width:504px) {
    .product-card {
        max-width: 45%;
        margin-left: 2%;
        margin-right: 2%;
    }
    footer {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        font-size: 10px;
    }
    footer > div {
        width: 40%;
        margin-bottom: 30px;
        padding: 0px;
    }
    #product-wrapper{
        flex-direction: column;
    }
    #product-image{
        width: 70%;
        margin-left: auto;
        margin-right:auto ;
    }
    #product-details{
        width: 100%;
    }
    #product-title{
        font-size: 25px;
        margin-top: 20px;
    }
    #product-brand{
        font-size: 14px;
    }
    .section-heading1{
        margin-top: 15px;
        font-size: 14px;
    }
    #product-price{
        font-size: 14px;
    }
    #description{
        font-size: 14px;
    }
    #btn-add-to-cart{
        margin-left: 35%;
        font-size: 14px;
        padding: 13px 20px;
    }
    #content-wrapper{
        flex-direction: column;
    }
    #content-wrapper > div:first-of-type {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #content-wrapper > div:last-of-type {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .total-items{
        font-size: 20px;
    }
    #total-amount{
        font-size: 20px;   
    }
    #btn-place-order{
        margin-top: 18px;
        font-size: 14px;
        padding: 13px 20px;
    }
    #topbar{
        padding: 16px 3%;
    }
    #logo{
        font-size: 13px;
        margin-right: 0px;
    }
    #left-menu > a{
        font-size: 13px;
        margin-left: 10px;
    }
    #search-wrapper{
        max-width: 100px;
    }
    #cart-wrapper{
        margin-right: 15px;
    }
    #right-menu > img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}
@media (min-width:505px) {
    .product-card {
        max-width: 29%;
        margin-left: 2%;
        margin-right: 2%;
    }
    footer {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        font-size: 10px;
    }
    footer > div {
        width: 50%;
        margin-bottom: 30px;
        padding: 0px;
    }
    #product-wrapper{
        flex-direction: column;
    }
    #product-image{
        width: 70%;
        margin-left: auto;
        margin-right:auto ;
    }
    #product-details{
        width: 80%;
        margin-left: auto;
        margin-right:auto ;
    }
    #product-title{
        font-size: 25px;
        margin-top: 20px;
    }
    #product-brand{
        font-size: 14px;
    }
    .section-heading1{
        margin-top: 15px;
        font-size: 14px;
    }
    #product-price{
        font-size: 14px;
    }
    #description{
        font-size: 14px;
    } 
    #btn-add-to-cart{
        margin-left: 35%;
        font-size: 14px;
        padding: 13px 20px;
    }
    #topbar{
        padding: 16px 3%;
    }
    #logo{
        font-size: 15px;
        margin-right: 0px;
    }
    #left-menu > a{
        font-size: 15px;
        margin-left: 10px;
    }
    #search-wrapper{
        max-width: 250px;
    }
    #cart-wrapper{
        margin-right: 32px;
    }
    #right-menu > img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}
@media (min-width:851px) {
    .product-card {
        max-width: 19%;
        margin-left: 0.5%;
        margin-right: 0.5%;
    }
    footer {
        width: 100%;
        flex-wrap: nowrap;
        display: flex;
        font-size: 10px;
    }
    #product-wrapper{
        flex-direction: row;
    }
    #btn-add-to-cart{
        margin-left: 0px;
    }
    #topbar{
        padding: 16px 8%;
    }
    #logo{
        font-size: 36px;
        margin-right: 16px;
    }
    #left-menu > a{
        margin-left: 32px;
    }
    #search-wrapper{
        max-width: 400px;
    }
    #cart-wrapper{
        margin-right: 32px;
    }
    #right-menu > img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    } 
    #product-title{
        font-size: 48px;
    }
    #product-brand{ 
        font-size: 24px;
    }
    .section-heading1{
        font-size: 24px;
        margin-top: 36px;
    }
    #product-price{
        font-size: 24px;
    }
    #description{
        font-size: 16px;
    } 
    #btn-add-to-cart{
        font-size: 18px;
        padding: 18px 36px;
    }
}
@media (max-width:751px){
    .check{
        font-size: 100px;
    }
    .success {
        font-size: 20px;
        margin-top: 30px;
    }
    .message {
        font-size: 15px;
    }
}